<mat-toolbar color="primary" class="header">
  <mat-toolbar-row class="header__content">
    <span>Ng Shopify Storefront</span>
    <span class="example-spacer"></span>
    <div class="header__content__buttonGroups">
      <button class="header__menu_buttons" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-menu-item routerLink="/products">
          <mat-icon>store</mat-icon>
          <span>Products</span>
        </a>
      </mat-menu>
      <button class="header__menu_button" mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <button class="header__menu_button" mat-icon-button routerLink="/products">
        <mat-icon>store</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons">shopping_basket</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
