.products-page {
  margin: auto;
  padding: 0 16px;
  max-width: 1216px;
}

.products-page__content {
}

.products-page__header {
  margin-top: 20px;
}

.products-page__searchbar {
}

.products-page__sortby {
  float: right;
}

.product__details {
  flex: auto;
  text-align: right;

  a {
    color: aliceblue;
  }
}
