<main class="home">
  <mat-card class="home__wrap">
    <mat-card-content class="home__content">
      <h1>Ng Shopify Storefront</h1>
      <p>A Shopping Cart built with TypeScript, AngularJS, Apollo Client, Shopify Storefront GraphQL API, ... and Material UI.</p>
      <a mat-raised-button color="primary" routerLink="/products">BROWSE PRODUCTS</a>
      <a mat-raised-button href="https://github.com/xuantain/ng-shopify-storefront">GET SOURCE CODE</a>
    </mat-card-content>
  </mat-card>
</main>
